<!DOCTYPE htlm>
<html>
	<head>
		<title> Cuestionario </title>
		<meta name="viewport" content = "width=device-width, initial-scale =1.0">
		<meta http-equiv="Content-Type" content = "text/html; charset=UTF-8"/>
		<link rel="stylesheet" type="text/css" href=" framework/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="cuestionario.css">
	</head>

<div >
	<body>
		<nav class ="navbar navbar-default" role="navigation"> 
			<div class = "container-fluid">
				<a class="navbar-brand" href="#"> Detección Temprana</a>
				<div class= "navbar-header">
					<ul class="nav navbar-nav">
						<li><a href="main.html#/cuestionario">Inicio</a></li>
						<li><a href="main.html#/preguntas">Acerca de</a></li>
						<li><a href="main.html#/">Cerrar Sesión</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</body>
</div>

<div ng-controller="cuestionarioCtrl">
	<div class="input-group">
	  <span class="input-group-addon" id="basic-addon1">*</span>
	  <input type="text" class="form-control" placeholder="Nombre del cuestionario" aria-describedby="basic-addon1" ng-model="nombreCuestionario">
	</div>

	<br><br><br>


	<div class="row">
	  <div class="col-lg-6">
	    <div class="input-group">
	        <textarea rows = "5" cols="50" class="form-control" placeholder="Descripción del cuestionario" aria-label="..." margin = "5px" ng-model="descripcion"></textarea>
	        <br><br>
	        <button type = "button" class = "btn btn-success" ng-click= "submit()">Crear</button>
	    </div><!-- /input-group -->
	  </div><!-- /.col-lg-6 -->
	</div>
</div>